
hdr { font-size: large; font-weight: bold}
mn { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;}
bb { font-size: large; color:green }
ob { font-size: large; color:blue }
prc { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; color: white;}

body {
    background: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    }

.header { 
    font-size: large; 
    font-weight: bold
}

#hdr { 
    font-size: large; 
    font-weight: bold
}
#totalpsn {
    text-align: right;
    font-weight: bold;
}

#headerimg {
    width: 340px;
    height: 200px;
    margin-left: 100px;
    border-radius: 10px;
}

.homelogin {
    display: inline;
}

#loginbtn {
    background-color: darkgreen;
    box-shadow: 0px 1px 8px #24c64f;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    text-align: center;
    width: 200px;
}

#regisbtn {
    background-color: lightgreen;
    box-shadow: 0px 1px 8px #24c64f;
    cursor: pointer;
    color: black;
    font-family: "Raleway SemiBold", sans-serif;
    text-align: center;
    width: 200px;
}

.aboutus {
    margin-left: 150px;
    display: inline;
}

.gallery {
    columns: 150px;
    margin-left: 150px;
    display: inline;
}

#galleryimg {
    width:10%;
    height:10%;
    display: inline-table;

}
