
hdr { font-size: large; font-weight: bold}
mn { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;}
bb { font-size: large; color:green }
ob { font-size: large; color:blue }
prc { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; color: white;}
body {
    background: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    }